// Color Variables
// ---------------------------------
// $rose-gold	: #fcd1c1;
$rose-gold  : #c4805d;
$bleu		: #223A5E;
$black		: #000;
$cyan		: #00ADEE;
$ebony		: #231F20;
$green		: #41AC49;
$grey		: #CBCBCB;
$jet		: #222;
$noir		: #111;
$oil		: #333;
$orange		: #E76120;
$red		: #E21B23;
$smoke		: #292929;
$velopress	: #E35147;
$white		: #FFF;
$yellow		: #FFF100;

$dark-smoke		: darken( $smoke, 20% );
$darker-smoke	: darken( $smoke, 40% );

$light-grey		: lighten( $grey, 40% );

$light-bleu		: lighten( $bleu, 5% );
$dark-bleu		: darken( $bleu, 5% );

// Font Variables
// ---------------------------------
$league-gothic-backup: 'Helvetica Neue', 'Helvetica', 'Arial Narrow', Arial, sans-serif;
$league-gothic: 'League Gothic', 'Helvetica Neue', 'Helvetica', 'Arial Narrow', Arial, sans-serif;
$cursive-font: 'sheraton', cursive, sans-serif;
// $alice: 'Alice', serif;
$sans-serif: 'Raleway', Helvetica, Arial, sans-serif;

// Miscellaneous
// ---------------------------------
$transition: all .25s ease;

// Media Queries
// ---------------------------------
$screen-xxs-min: 400px;
$screen-xs-min: 640px;
$screen-sm-min: 768px;
$screen-md-min: 900px;
$screen-lg-min: 1200px;
$screen-xl-min: 1280px;

$screen-xxs-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$xxs-only-breakpoint: "screen and (max-width:#{$screen-xxs-max})";
$xxs-breakpoint: "screen and (min-width:#{$screen-xxs-min})";
$xs-only-breakpoint: "screen and (max-width:#{$screen-xs-max})";
$xs-breakpoint: "screen and (min-width:#{$screen-xs-min})";
$sm-only-breakpoint: "screen and (min-width:#{$screen-sm-min}) and (max-width:#{$screen-sm-max})";
$sm-breakpoint: "screen and (min-width:#{$screen-sm-min})";
$md-only-breakpoint: "screen and (min-width#{$screen-md-min}) and (max-width:#{$screen-md-max})";
$md-breakpoint: "screen and (min-width:#{$screen-md-min})";
$lg-breakpoint: "screen and (min-width:#{$screen-lg-min})";
$xl-breakpoint: "screen and (min-width:#{$screen-xl-min})";

// Override Materialize
// ---------------------------------
$secondary-color: $bleu;
$link-color: $bleu;

$small-screen-up: $screen-sm-min;
$medium-screen-up: $screen-md-min;
$large-screen-up: $screen-lg-min;
$small-screen: $screen-xs-max;
$medium-screen: $screen-sm-max;
$large-screen: $screen-md-max;

$slider-indicator-color: $rose-gold;
