.backgrounds-pane {
	background-size: cover;
	height: 100vh;
	padding: 0;

	&__bgs {
		display: block;
		height: 100%;
		width: 100%;
		display: none;

		&-single {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			display: none;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	&__bgs-single.rsvp {
		background-position: center top;
	}

	&__bgs-single.registry {
		background-position: center bottom;
	}

	@media #{$md-breakpoint} {
		float: left;
		position: fixed;
		// max-width: 60%;
		// width: 60%;

		&__bgs {
			display: block;

			&-single:first-child {
				display: block;
			}
		}

	}

}

.slider {

	@media #{$md-breakpoint} {
		display: none;
	}
}
