body {
	font-family: $sans-serif;
	font-size: 17px;
	line-height: 1.5;
	overflow-y: scroll !important;

	@media #{$lg-breakpoint} {
		&.modal-open {
			padding-right: 0 !important;
		}
	}

}

h1,
h2,
h3,
h4,
h5 {
	font-family: $cursive-font;

	@supports not (-webkit-overflow-scrolling: touch) {
		font-weight: bold;
	}
}

h2 {
	color: $bleu;
	font-size: 2.2em;
	padding-bottom: 40px;
	padding-top: 5px;
	text-align: center;
	transition: $transition;
	width: 100%;

	@media #{$lg-breakpoint} {
		font-size: 3.1em;
	}
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

a {
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}

.strong {
    font-weight: 700;
}

.no-drag {
	touch-action: pan-y;
	user-select: none;
	-webkit-user-drag: none;
}

.hidden {
	display: none;
}

.map-responsive {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;

	iframe {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.footer {
	font-size: small;
	text-align: right;

	p {
		margin-bottom: -16px;
	}

	img {
		filter: grayscale( 50% );
		max-width: 80px;
		margin-bottom: -12px;
	}
}

.img-map-link {
	display: inline-block;
	overflow: hidden;
	position: relative;

	&:focus {
		outline: none;
	}

	img {
		margin: 0 !important;
		transition: $transition;
	}

	@media #{$md-breakpoint} {

		img {
			filter: sepia(100%) grayscale(30%);

			&:hover {
				filter: sepia(0) grayscale(0);
			}
		}
	}

}

.icon-pin {

	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: $bleu;
	display: block;
	left: 50%;
	margin-left: -35px;
	top: 50%;
	margin-top: -35px;
	position: absolute;

	&:before {
		content: '';
		width: 30px;
		height: 30px;
		border-radius: 50% 50% 50% 0;
		background: $rose-gold url('../images/texture-rosegold.jpg') no-repeat 28% center;
		transform: rotate(-45deg);
		top: 50%;
		margin-top: -18px;
		left: 50%;
		margin-left: -15px;
		display: block;
		position: absolute;
	}

	&:after {
		content: '';
		width: 14px;
		height: 14px;
		margin: 8px 0 0 8px;
		background: $bleu;
		position: absolute;
		border-radius: 50%;
		top: 50%;
		left: 50%;
		margin-top: -9px;
		margin-left: -7px;
	}
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
}
