.invitees {

	&-found {
		margin-bottom: 1em;

		label {
			cursor: pointer;
		}
	}

	/* &-submission {
		.plusone {
			display: none;
		}
	} */

}

legend {
	font-weight: bold;
}

[type=radio]:checked+label,
[type=radio]:not(:checked) + label {
	color: $off-black;
}