.collapsible {

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	&-header {
		justify-content: space-between;

		i {
			transition: $transition;
			width: auto !important;
		}

		&.active i {
			transform: rotate(180deg)
		}
	}

}

.slider {
	ul.indicators {
		bottom: 15px !important;

		li.indicator-item {
			height: 11px;
			width: 11px;
		}
	}
}

.side-nav li > a:hover {
	text-decoration: none;
}

[type="checkbox"] + label {
	color: inherit;
	margin-bottom: 15px;
}

.input-field label.active,
label[for="food_choice"],
label[for="plusone_food_choice"] {
	color: $bleu;
	font-weight: 700;
}

form select {
	margin-bottom: 20px;
}
