h1 {
	// background: radial-gradient( rgba( 255, 255, 255, 0.4 ) 5%, rgba( 255, 255, 255, 0 ) 70% );
	bottom: 30px;
	font-size: 58px;
	left: 0;
	position: absolute;
	transition: $transition;
	z-index: 998;

	a {
		color: $white;
		font-family: $cursive-font;
		text-decoration: none;
		// text-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.3 );
		// text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
		// text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
		position: relative;
		display: block;
		padding: 15px 15px 15px 30px;

		&:hover {
			color: $white;
			text-decoration: none;
		}

		@supports (background-clip: text) or (-webkit-background-clip: text) {
			color: transparent;
			// padding: 4px 8px 10px;

			&:hover {
				color: transparent;
			}

			&:after {
				content: attr(data-text);
				position: absolute;
				z-index: 2;

				background: url( '../images/texture-rosegold.jpg' );
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				// padding: 4px 8px 10px;
				text-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.3 );
				// top: -4px;
				top: 0;
				left: 0;

				padding: 15px 15px 15px 30px;

			}

		}
	}

	@media #{$md-breakpoint} {
		// left: 5%;

		.active-page-home & {
			opacity: 0;
		}

	}
}

.hamburger {
	color: $rose-gold;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	position: fixed;
	right: 4.5%;
	text-transform: uppercase;
	top: 3%;
	transition: $transition;
	width: 30px;
	z-index: 9999;

	span {

		&:nth-child(-n+3) {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: $bleu;
			opacity: 1;
			left: 0;
			transition: $transition;
		}

		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 10px;
		}
		&:nth-child(3) {
			top: 20px;
		}

	}

	&.open {

		span {

			&:nth-child(1) {
				top: 12px;
				transform: rotate(135deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				top: 12px;
				transform: rotate(-135deg);
			}

		}

	}

}

.side-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;

	li a {
		font-family: $sans-serif;
		font-weight: 600;

		&:hover,
		&.current-menu-item {
			background-color: $bleu;
			color: $white;
		}

	}

	.menu-item:first-child {
		display: none;

		@media #{$md-breakpoint} {
			display: block;
		}
	}

}

/* #menu {
	background-color: $smoke;
	color: $white;
	height: 100%;
	position: fixed;
	right: -180px;
	top: 0;
	transition: all 0.3s ease;
	width: 180px;
	z-index: 5;

	ul {
		padding: 0;
		position: relative;
		width: 100%;

		margin-top: -104px;
		position: absolute;
		top: 50%;

		li {

			border-bottom: 1px #1a1a1a solid;
			border-top: 1px #373737 solid;
			display: list-item;
			line-height: 40px;
			list-style: none;
			padding-bottom: 0;
			text-align: left;
			text-indent: 10px;
			width: 100%;

			&::before {
				float: left;
				margin-left: 10px;
				width: 1.28571429em;
			}

			a {
				color: $white;
				display: block;
				margin-left: 10px;
				font-family: $sans-serif;
				font-weight: 600;
				text-decoration: none;

				&:hover {
					color: $rose-gold;
				}

				&.current-menu-item {
					color: $rose-gold;
				}

			}
		}
	}

	.divider {
		margin-top: 25px;
	}

	&.open {
		box-shadow: 0 5px 20px 0 rgba( 0, 0, 0, .35 );
		right: 0;
	}

} */
