.pages__wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
	@media #{$md-breakpoint} {
		background-color: #fff;
		background-image: url('../images/marble.jpg');
		background-image:
			linear-gradient(
				to bottom,
				rgba( 255, 255, 255, 1 ) 0%,
				rgba( 255, 255, 255, 0 ) 10%,
				rgba( 255, 255, 255, 1 ) 100%
			),
			url('../images/marble.jpg');
		background-attachment: fixed;
		float: right;
		width: 40%;
	}
}

.page-pane {
	background-size: cover;
	min-height: 100vh;
	padding: 30px;

	&--home {
		display: none;
		height: 100vh;

		.heading {
			display: table-cell;
			text-align: center;
			vertical-align: middle;

			p {
				margin: 0;
			}

			span {
				font-size: 1.2em;
				letter-spacing: 0.4em;
				text-transform: uppercase;

				@media #{$lg-breakpoint} {
					font-size: 1.3em;
				}
			}
		}

		h2 {
			font-size: 3em;
			margin: 0;
			transition: $transition;

			@media #{$lg-breakpoint} {
				font-size: 4.5em;
			}

			@supports (background-clip: text) or (-webkit-background-clip: text) {
				background: url( '../images/texture-rosegold.jpg' );
				color: transparent;
				-webkit-background-clip: text;
				background-clip: text;
				padding: 10px 8px 15px;
			}
		}

		@media #{$md-breakpoint} {
			display: table;
			width: 100%;
		}
	}

	&--accommodations {
		&__row {
			margin-top: 30px;
			@media #{$lg-breakpoint} {
				display: flex;
				justify-content: space-between;
			}
		}

		&__section {
			border-top: 1px solid $bleu;
			padding: 15px;
			text-align: center;

			&:after {
				@extend .clearfix;
			}

			&:last-child {
				border-bottom: 1px solid $bleu;
			}

			h4 {
				margin-top: -10px;
			}

			@media #{$lg-breakpoint} {
				border-bottom: 1px solid $bleu;
				margin: 0 15px;
				width: 50%;
			}
		}
	}

}

.registry-card {
	text-align: center;

	&s {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	&__wrapper {
		box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
		display: inline-block;
		background: $white;
		padding: 10px;
		margin: 10px auto 20px;
		transition: $transition;

		&:hover {
			transform: scale(0.99, 0.99);
			box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);
		}

	}
}

