.pre-loader {
	// background: $rose-gold url('../images/texture-rosegold.jpg') no-repeat 28% center;
	background-color: $rose-gold;
	background-size: cover;
	position: fixed;
	width: 100%;
	height: 100%;
	transition: $transition;
	z-index: 99999;

	// in case there's a problem with the JS
	.no-js & {
		display: none;
	}
}

.sk-folding-cube {
	margin: 20px auto;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
	transform: rotateZ(45deg);

	.sk-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		transform: scale(1.1);

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $bleu;
			animation: sk-foldCubeAngle 2.4s infinite linear both;
			transform-origin: 100% 100%;
		}
	}
	.sk-cube2 {
		transform: scale(1.1) rotateZ(90deg);
	}
	.sk-cube3 {
		transform: scale(1.1) rotateZ(180deg);
	}
	.sk-cube4 {
		transform: scale(1.1) rotateZ(270deg);
	}
	.sk-cube2:before {
		animation-delay: 0.3s;
	}
	.sk-cube3:before {
		animation-delay: 0.6s;
	}
	.sk-cube4:before {
		animation-delay: 0.9s;
	}

}
@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	} 90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%, 10% {
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	} 25%, 75% {
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	} 90%, 100% {
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
